# Ignore Visual Studio temporary files, build results, and user-specific files
.vs/
src/.vs/

# Ignore build output folders
src/bin/
src/obj/

# Ignore Visual Studio workspace folder for your project
Booking_System/.vs/Booking_System/v17/

# Ignore build output folders
/bin/Debug/net9.0/
obj/


# Optional: Ignore user-specific files and configs
*.user
*.suo
*.userosscache
*.sln.docstates

/src/Booking_System/bin/Debug/net9.0
