@model Booking_System.Models.Booking
@{
    ViewData["Title"] = "Create Booking";
}

<h2 class="text-center">Create Booking</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}


<form asp-action="Create" method="post">
    <partial name="_BookingForm" model="Model" />

    <div class="text-center">
        <button type="submit" class="btn btn-success">Create</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
